project:
  type: website
  output-dir: docs
  render: 
    - index.qmd

website:
  title: "Jose Valdés Domínguez"
  
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true

editor: visual

